<h2>All our Flats</h2>
<p>All <%= @flats.length %> flats:</p>

<% @flats.each do |flat| %>
  <div class="card my-3">
    <img class="card-img-top" src="https://source.unsplash.com/random" style="height:12rem; width:16rem; object-fit:cover" alt="flat-img">
    <div class="card-body bg-light">
      <h5 class="card-title"><%= flat.name %></h5>
      <p class="class-text mb-1"><%= flat.address %></p>
      <div class="d-flex">
        <div class="">
          <i class="fas fa-user-friends"></i>
          <%= flat.number_of_guests %>
        </div>
        <div class="ml-3">
          <i class="fas fa-euro-sign"></i>
        <%= flat.price_per_night %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <%= link_to 'More info', flat_path(flat) %>
      Edit
      Remove
    </div>
  </div>
<% end %>
